.recipe-card {
  width: 200px;
  background-color: #fff;
  border-bottom: 5px solid rgb(0 136 255);
  box-shadow: rgb(50 50 93 / 25%) 0 50px 100px -20px, rgb(0 0 0 / 30%) 0 30px 60px -30px;
  transition: box-shadow 0.5s;
}

.recipe-card:hover {
  box-shadow: rgb(38 57 77) 0 20px 30px -10px;
}

.recipe-card img {
  width: 200px;
}

.recipe-card__content {
  padding: 10px;
}

.recipe-card__content span {
  color: #fd9297;
  margin-right: 5px;
}

.recipe-card__content p {
  margin: 5px 0;
}
