@import "https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Paytone+One&display=swap";
@import "./styles/common";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

select {
  outline: none;
  appearance: none;
  border: none;
}

input[type="text"] {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: $dark-bg-color;

  @media (max-width: 1020px) {
    width: 0;
  }
}

::-webkit-scrollbar-thumb {
  background-color: $dark-bg-color;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px $light-color;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $dark-bg-color;
}

body {
  font-family: Inconsolata, monospace;
  max-height: 100vh;
  overflow: hidden;

  .app {
    max-height: 100vh;
    overflow-y: scroll;
  }
}
