.recipe-cards__title {
  background-color: #000;
  color: #fff;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.recipe__cards {
  width: 1157px;
  margin: 0 auto;
  padding: 20px 20px 52px;
  display: flex;
  flex-flow: row wrap;
  gap: 52px;
  min-height: 300px;
}

.recipe__message {
  margin: 20px auto;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .recipe__cards {
    width: 500px;
    gap: 20px;
    padding: 20px 0 52px;
  }
}

@media (max-width: 540px) {
  .recipe__cards {
    width: 280px;
  }
}
