.characters {
  background-color: #f0f0f0;
  min-height: calc(100vh - 150px);
}

.characters__overlay::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #201f1f65;
  z-index: 3;
}
