.about {
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  min-height: calc(100vh - 150px);
}

.about__container {
  width: 600px;
  margin: 0 auto 20px;
}

.about__container img {
  width: 600px;
}

@media (max-width: 640px) {
  .about__container {
    width: 280px;
  }

  .about__container img {
    width: 280px;
  }
}
