.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 150px);
  background-color: #202329;
}

.main__container {
  width: 100%;
}

.main__message {
  color: #fff;
  font-size: 30px;
  margin: 20px;
}
