.character-card {
  width: 240px;
  background-color: #3c3e44;
  border-radius: 10px;
  color: #fff;
  border-bottom: 5px solid #9386a4;
  box-shadow: rgb(50 50 93 / 25%) 0 50px 100px -20px, rgb(0 0 0 / 30%) 0 30px 60px -30px;
  transition: box-shadow 0.5s;
  overflow: hidden;
}

.character-card:hover {
  box-shadow: rgb(38 57 77) 0 20px 30px -10px;
}

.character-card img {
  width: 240px;
}

.character-card__content {
  padding: 10px;
  font-size: 18px;
}

.character-card__content span {
  color: #9386a4;
  margin-right: 5px;
}

.character-card__content p {
  margin: 5px 0;
}

.character__name {
  font-size: 30px;
  font-family: "Paytone One", sans-serif;
}

@media (max-width: 1200px) {
  .character-card {
    width: 240px;
  }

  .character-card img {
    width: 240px;
  }
}

@media (max-width: 540px) {
  .character-card {
    width: 280px;
  }

  .character-card img {
    width: 280px;
  }
}
