.input-date__container {
  display: flex;
  height: 119px;
  width: 182px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  color: #fff;
  background-color: #2d383f;
  border-radius: 5px;
}

::-webkit-datetime-edit {
  padding: 10px;
  background-color: #fff;
  height: 25px;
}

::-webkit-datetime-edit-text {
  padding: 0 3px;
}

::-webkit-inner-spin-button {
  width: 0;
  height: 0;
}

.input-date::-webkit-calendar-picker-indicator {
  padding: 0 6px 0 5px;
  cursor: pointer;
  background-image: url("../../assets/icons/calendar.svg");
}

.input-date {
  border-radius: 5px;
  border: none;
  outline: none;
  color: #000;
  font-size: 18px;
  margin-top: 5px;
}

.input-date__label {
  font-size: 19px;
  font-weight: 600;
  margin-top: 3px;
}

.form__message {
  padding-bottom: 7px;
}
