.input-date__container {
  display: flex;
  height: 117px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  color: #fff;
  background-color: #2d383f;
  border-radius: 5px;
}

::-webkit-datetime-edit {
  padding: 15px;
}

::-webkit-datetime-edit-text {
  padding: 0 3px;
}

::-webkit-inner-spin-button {
  display: none;
}

.input-date::-webkit-calendar-picker-indicator {
  padding-right: 9px;
  cursor: pointer;
  background-image: url("../../assets/icons/calendar.svg");
}

.input-date {
  background-color: rgb(0 136 255);
  border-radius: 5px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 18px;
}

.input-date__label {
  font-size: 19px;
  font-weight: 600;
}
