.header {
  height: 65px;
  background-color: #000;
}

.header__wrapper {
  max-width: 1680px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header__title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}

.header__title span {
  color: rgb(0 136 255);
}

@media (max-width: 540px) {
  .header {
    height: 100px;
    background-color: #000;
  }

  .header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
