.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results__container {
  width: 100%;
  background-color: #000;
  color: #fff;
}

.results__title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.cards__results {
  width: 550px;
  height: 65px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.results__pagination {
  background-color: #f0f0f0;
}

.pagination {
  padding: 20px;
  width: 292px;
  margin-left: calc(50% - 146px);
}

@media (max-width: 600px) {
  .cards__results {
    width: 280px;
    height: 90px;
    margin: 0 auto 10px;
    align-items: center;
  }

  .results__title {
    font-size: 30px;
  }
}
