.form__textarea-field {
  height: 165px;
}

.form__textarea {
  width: 500px;
  height: 150px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  resize: none;
  box-shadow: 0 0 4px #b9b8b8;
  font-family: inherit;
  font-size: 20px;
  background-color: #fff;
  transition: 0.3s box-shadow;
}

.form__textarea:hover {
  box-shadow: 0 0 4px #898989;
}

.form__textarea:focus {
  box-shadow: 0 0 1px 3px rgb(0 136 255);
  outline: none;
}

.form__textarea::placeholder {
  color: inherit;
  font-weight: 600;
}

.textarea__message {
  margin-top: -6px;
}
