.card {
  width: 610px;
  height: 225px;
  background-color: #3c3e44;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: #3c3e44 0 20px 30px -10px;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.card:hover {
  box-shadow: #3c3e44 0 20px 90px -20px, #3c3e44 0 30px 30px -30px;
}

.card__content {
  padding: 20px;
  color: #fff;
}

.card__name {
  margin-bottom: 5px;
  letter-spacing: 1.5px;
  font-size: 25px;
  font-weight: 600;
  font-family: "Paytone One", sans-serif;
}

.card img {
  width: 220px;
}

.card__caption {
  color: #9e9e9e;
  margin-bottom: 5px;
}

.card__caption p {
  text-transform: capitalize;
}

.card__container,
.card__info {
  margin-bottom: 16px;
}

.card__dash {
  margin: 0 3px;
}

.card__info {
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
}

.card__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 3px 7px 3px 0;
}

.circle__purple {
  background-color: #9386a4;
}

.circle__green {
  background-color: #5c4;
}

.circle__red {
  background-color: #d63d2e;
}

@media (max-width: 655px) {
  .card {
    width: 280px;
    height: min-content;
    flex-direction: column;
  }

  .card img {
    width: 280px;
  }

  .card__name {
    margin-bottom: 10px;
  }
}
