.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results__container {
  width: 100%;
  background-color: #000;
  color: #fff;
}

.results__title {
  font-size: 40px;
  font-weight: 700;
  width: 220px;
}

.cards__results {
  width: 550px;
  height: 65px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .cards__results {
    width: 280px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
