.form__title {
  background-color: #000;
  color: #fff;
  height: 55px;
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #f0f0f0;
}

.form {
  background-size: cover;
  background-color: #2d383f;
}

.form__container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0 30px;
}

.submit-button {
  width: 200px;
  height: 50px;
  background-color: #f3b2ac;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.3s background-color;
  border-radius: 5px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.submit-button_disabled {
  cursor: auto;
  background-color: #f1e9e9;
  color: rgb(72 72 72);
}

.form__message {
  color: #fddedb;
  text-align: center;
  font-size: 18px;
  margin-top: 3px;
}

@media (max-width: 540px) {
  .form__container {
    max-width: 280px;
  }
}
