.cards {
  max-width: 1280px;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 20px;
}

@media (max-width: 1300px) {
  .cards {
    max-width: 650px;
  }
}

@media (max-width: 655px) {
  .cards {
    max-width: 320px;
  }
}
