.search {
  width: 100%;
  height: 65px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  width: 550px;
  height: 40px;
  border-bottom: 5px solid #9386a4;
}

.search__title {
  font-size: 26px;
  padding: 2px 0 0 10px;
  font-weight: 600;
}

.search__image {
  width: 20px;
  cursor: pointer;
}

.search__bar {
  width: 300px;
  font-size: 20px;
  padding: 0 5px;
  background: transparent;
  font-family: inherit;
}

@media (max-width: 600px) {
  .search {
    height: 100px;
  }

  .search__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 280px;
    height: 80px;
    position: relative;
  }

  .search__title {
    padding-top: 7px;
  }

  .search__image {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .search__bar {
    width: 270px;
    align-self: center;
    padding: 10px 5px;
  }
}
