.header {
  height: 150px;
  background-color: #000;
  position: relative;
}

.header__wrapper {
  max-width: 1680px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  color: #fff;
  font-family: "Paytone One", sans-serif;
  font-size: 65px;
  margin-top: 10px;
  font-weight: 700;
  letter-spacing: 2px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
}

.nav__item,
.nav__item_active {
  color: #fff;
  margin-top: 10px;
}

.nav__item_active {
  border-bottom: 2px solid rgb(0 136 255);
  margin-bottom: 7px;
}

@media (max-width: 700px) {
  .nav__item:nth-child(2) {
    position: absolute;
    bottom: 20px;
  }

  .nav__item_active:nth-child(2) {
    position: absolute;
    bottom: 11px;
  }

  .header__title {
    font-size: 35px;
    margin-top: 10px;
  }
}
