.recipes {
  background-color: #f0f0f0;
  min-height: calc(100vh - 65px);
}

.recipes__overlay::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #201f1f65;
  z-index: 3;
}

@media (max-width: 540px) {
  .recipes {
    min-height: calc(100vh - 100px);
  }
}
