.header {
  height: 65px;
  background-color: #000;
}

.header__wrapper {
  max-width: 1680px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header__title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}

.header__title span {
  color: rgb(0 136 255);
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 12px;
  gap: 50px;
}

.nav__item,
.nav__item_active {
  color: #fff;
  margin-top: 10px;
}

.nav__item_active {
  border-bottom: 2px solid rgb(0 136 255);
  margin-bottom: 7px;
}

@media (max-width: 540px) {
  .header {
    height: 100px;
    background-color: #000;
  }

  .header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__nav {
    padding-top: 5px;
  }

  .nav__item,
  .nav__item_active {
    margin-top: 0;
  }
}
